/* start reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset css */
/* Styles */
/**
 * Color Variables to be utilizes throughout the application
 */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* flexbox model */
.flexcontainer {
  display: flex;
  flex-direction: row;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col-8 {
  width: 80%;
}
.flex-grid-thirds .col-2 {
  width: 10%;
}

@media (max-width: 400px) {
  .flex-grid,
.flex-grid-thirds {
    display: block;
  }
  .flex-grid .col,
.flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 0 20px 0;
}

/* end flexbox model */
#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .flex-grid-thirds .col-8 {
    width: 100%;
  }
  .flex-grid-thirds .col-2 {
    width: 100%;
  }

  .main-nav {
    list-style-type: none;
    display: none;
  }

  .menu-left a, .menu-right a {
    color: #fff;
    text-decoration: none;
  }

  nav {
    display: flex;
    background: #293f4f;
    min-height: 60px;
  }
  nav .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .menu ul li {
    display: block;
    text-align: center;
    margin: 20px 0 20px 0;
  }
  nav .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
  }

  .profile-pic {
    display: none;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 24px;
  }

  .active {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  nav {
    width: 100%;
    height: 81px;
    background: #293f4f;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
  }
  nav .profile-pic {
    width: 25px;
    margin-right: 10px;
  }
  nav .menu-left, nav .menu-right {
    height: 81px;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .menu {
    width: 100%;
    text-align: center;
    height: 81px;
    border-left: 1px solid #4a5b69;
    border-right: 1px solid #4a5b69;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding-left: 0;
  }
  nav .menu ul li {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  nav .menu ul li a {
    font-size: 15px;
    padding: 15px;
    float: left;
    display: block;
  }
}
#subheader {
  width: 100%;
  height: 180px;
  background: #fff;
  border-bottom: 2px solid #d0d5da;
}

#main {
  width: 100%;
  background: #ecf0f4;
  min-height: 300px;
  flex: 1;
}

footer {
  border-top: 2px solid #d0d5da;
  width: 100%;
  height: 60px;
  background: #d3dbe2;
}
footer .copyrights {
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 13px;
}

/* Responsive styles */
@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1700px) {
  .container {
    max-width: 1500px;
  }
}

/*# sourceMappingURL=style.css.map */
